* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
}

.center {
    height: 100vh;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type="text"] {
    width: 35vw;
    border: 2px solid black;
    border-radius: 0.5rem;
    height: 3rem;
    padding: 1rem;
    outline: none;
    font-size: 2rem;
}

.centerbox {
    height: 30vh;
    width: 30vw;
    font-size: 3rem;
    overflow-x: hidden;
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 2px 2px #050000;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}